<!DOCTYPE html>
<style>
  .fontwelcome{
      color: #61CD99;
      font-size: 20px;
    }
    .fontwelcome2{
      color: #7C7C7C;
      font-size: 18px;
    }
</style>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="d-flex justify-content-start mt-3">
    <%= image_tag "logolimpp.svg", class:'image' %>
  </div>
    <h1 class="fontwelcome mt-3">Olá, bem vinde a nossa jornada de beleza limpa!</h1>
    <p class="fontwelcome2">
      A partir de agora você terá livre acesso a buscas por produtos e ingredientes. Com isso, poderá saber se o que usa no dia a dia contém alguma substância tóxica para sua saúde ou o meio ambiente. E assim ter o poder de fazer escolhas conscientes.<br>
    </p>
    <p class="fontwelcome2">
      Para entrar na nossa plataforma clique aqui: <%= href="https://www.limpp.com.vc" %>
    </p>
    <p class="fontwelcome2">Obrigada por fazer parte desse movimento.</p>
  </body>
</html>
