// Specific CSS for your home-page
  body {
    background-color: white;
  }

  .imagefirst{
      margin: auto;
      width: 50%;
    }

  .imglimpp img {
    width: 45%;
  }

  .module {
        background: white;
        padding: 20px;
        color: #707070;
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
  }

   .spacefirst{
        margin-bottom: 1px;
    }

    .margemsugestao{
      margin-left: 0px;
      margin-top: 8px;
      margin-right: 35px;
      font-size: 11px;
      text-align: left;
      color: #707070;
      font-family: 'Montserrat', sans-serif;
    }
    .margemdesconto{
      margin-left: 0px;
      margin-top: 8px;
      margin-right: 35px;
      font-size: 11px;
      text-align: left;
      color: #707070;
      font-family: 'Montserrat', sans-serif;
    }

    .subtitle{
      font-size: 12px;
      text-align: center;
      color: #707070;
      font-family: 'Montserrat', sans-serif;
      line-height: 16px;
    }

    .backgroudfirst{
      max-width: 320px;
      position: relative;
      background: linear-gradient(to bottom, #66D8A0, #8D8BDB);
      border-radius: 8px;
      padding: 10px;
      top: 20%;
      left: 4%;
    }

    .welcome{
      font-size: 21px;
      text-align: center;
      font-weight: bold;
      color: #333132;
      font-family: 'Montserrat', sans-serif;
    }

    .margembusca{
      margin-left:50px;
      margin-top:20px;
      font-size: 11px;
      text-align: left;
      color: #707070;
      font-family: 'Montserrat', sans-serif;
    }
    .margemconheca{
      margin-left:43px;
      margin-top:20px;
      font-size: 11px;
      text-align: left;
      color: #707070;
      font-family: 'Montserrat', sans-serif;
    }
    .margincard{
      margin-top: 32px;
    }
    .margemlupa{
      margin-left: -30px;
      margin-top:15px;
    }

    .margemfarol{
      margin-left:54px;
      margin-top:20px;
      font-size: 11px;
      text-align: left;
      color: #707070;
      font-family: 'Montserrat', sans-serif;
    }
    .margemfarolvertical{
      margin-left: -22px;
      margin-top: 20px;
    }
