// Specific CSS for your home-page
  body {
    background-color: white;
  }


    .imagefirst{
      margin: auto;
      width: 50%;
    }
  .imglimpp img {
    width: 45%;
  }

  .module {
        background: white;
        padding: 20px;
        color: #707070;
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
  }

   .spacefirst{
        margin-bottom: 1px;
    }

    .margemsugestao{
      margin-left: 0px;
      margin-top: 8px;
      margin-right: 35px;
      font-size: 11px;
      text-align: left;
      color: #707070;
      font-family: 'Montserrat', sans-serif;
    }
    .margemdesconto{
      margin-left: 0px;
      margin-top: 8px;
      margin-right: 35px;
      font-size: 11px;
      text-align: left;
      color: #707070;
      font-family: 'Montserrat', sans-serif;
    }

    .subtitle{
      font-size: 12px;
      text-align: center;
      color: #707070;
      font-family: 'Montserrat', sans-serif;
      line-height: 16px;
    }

    .backgroudfirst{
      max-width: 320px;
      position: relative;
      background: linear-gradient(to bottom, #66D8A0, #8D8BDB);
      border-radius: 8px;
      padding: 10px;
      top: 20%;
      left: 4%;
    }

      .welcome{
      font-size: 21px;
      text-align: center;
      font-weight: bold;
      color: #333132;
      font-family: 'Montserrat', sans-serif;
    }


    .margembusca{
      margin-left:15px;
      margin-top:15px;
      font-size: 11px;
      text-align: left;
      color: #707070;
      font-family: 'Montserrat', sans-serif;
    }
    .margemconheca{
      margin-left:12px;
      margin-top:15px;
      font-size: 11px;
      text-align: left;
      color: #707070;
      font-family: 'Montserrat', sans-serif;
      width: 130px;
    }
    .margincard{
      margin-top: 32px;
    }
    .margemlupa{
      margin-left: 15px;
      margin-top:5px;
    }

    .margemfarol{
      margin-left:22px;
      margin-top:29px;
      font-size: 11px;
      text-align: left;
      color: #707070;
      font-family: 'Montserrat', sans-serif;
    }
    .margemfarolvertical{
      margin-left: 22px;
      margin-top: 25px;
    }

    .cardfirst{
      padding:15px;
    }

    .marginbuttons{
      margin-top: 220px;
    }
    .margemavaliacao{
      margin-left: 13px;
      margin-top:11px;
    }

    .cardblock{
      margin-top:10px;
    }

    .positionfirstpage{
      margin-right: 0px;
      margin-top: 10px;
    }
    .positionpower{
      margin-top: 25px;
      margin-left: 15px;
    }
    .power{
      color: #707070;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      margin-right: 22px;
    }

    .positionbeauty{
      margin-top: 20px;
    }

    .sizeinsta{
    width: 135px;
    height: 135px;
    margin-top: 30px;
    margin-left: 10px;
    }

    .backgroundmailchimp{
    background-image: linear-gradient(#66D8A0, #8D8BDB);
    padding: 10px;
    }

    .paddingingredients{
      padding: 5px;
    }

    .beauty{
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 22px;
      font-weight: bold;
      margin-right: 85px;
      line-height: 27px;
    }

     .mailchimpindex{
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: bold;
      margin-top: 25px;
    }

    .mailchimpspam{
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: bold;
      margin-top: 25px;
      width: 257px;
      margin-left: 2px;
    }

    .merece{
      color: #333132;
      font-family: 'Montserrat', sans-serif;
      font-size: 17px;
      font-weight: bold;
      margin-right: 70px;
      line-height: 27px;
    }
    .responsiblesize{
        width: 100px;
        height:100px;
    }
    .largedevise{
      padding: 20px;
    }

    .filterdesk{
      margin-right: 15px;
    }
      .fonteliminate{
      margin-top: 20px;
    }
    .inlinemobile{
      display: inline-block;
    }

      .lineaingredientdesk{
      color: white;
      font-size: 2px;
      width:10px;
  }
  .risktext{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    margin-left: 35px;
  }
  .risktextdesk{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    margin-left: 35px;
  }

    @include media-breakpoint-up(md){
      .marginrighfacebook{
        margin-right: 40px;
      }
      .paddingfirst{
        margin-top: -30px;
        padding: 90px;
      }
      .marginbuttons{
      margin-top: 115px;
      }
      .imagefirst{
        margin: auto;
        width: 15%;
      }
      .module {
            background: white;
            padding: 40px;
            color: #707070;
            font-family: 'Montserrat', sans-serif;
            font-size: 10px;
      }
      .subtitle{
        font-size: 12px;
        color: #707070;
        font-family: 'Montserrat', sans-serif;
        line-height: 16px;
        width: 300px;
        margin-left: 105px;
      }
      .backgroudfirst{
      max-width: 800px;
      position: relative;
      background: linear-gradient(to bottom, #66D8A0, #8D8BDB);
      border-radius: 8px;
      padding: 10px;
      top: 20%;
      left: 4%;
      }
      .welcome{
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        color: #333132;
        font-family: 'Montserrat', sans-serif;
      }
      .margemlupa{
      margin-left: -5px;
      margin-top:5px;
      }
      .margemavaliacao{
      margin-left: 8px;
      margin-top:15px;
      }
      .margemfarolvertical{
      margin-left: 29px;
      margin-top: 20px;
    }
      .cardblock{
      margin-top:20px;
     }
     .margemfarol{
      margin-left:15px;
      margin-top:15px;
      font-size: 11px;
      text-align: left;
      color: #707070;
      font-family: 'Montserrat', sans-serif;
    }
    .margemfarolvertical{
      margin-left: 10px;
      margin-top: 20px;
    }
    .positionfirstpage{
      margin-right: 470px;
      margin-top: 30px;
    }
    .positionpower{
      margin-top:-130px;
      margin-left: 400px;
      width: 400px;
    }
      .power{
      color: #707070;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      margin-right: 45px;
      width: 300px;
    }
    .positionbeauty{
      margin-top: 70px;
    }
      .sizeinsta{
      width: 155px;
      height: 155px;
      margin-top: 25px;
      margin-left: 10px;
    }
    .paddingingredients{
      padding: 0px;
      max-width: 1040px !important;
    }
    .beauty{
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 25px;
      font-weight: bold;
      margin-right: 85px;
      line-height: 27px;
      width: 265px;
      margin-left: -15px;
    }

     .mailchimpindex{
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: bold;
      margin-top: 25px;
      width: 340px;
      margin-left: -15px;
    }
    .mcnTextMail{
      margin-left: 350px;
    }
    .mailchimpspam{
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: bold;
      margin-top: 25px;
      width: 340px;
      margin-left: 10px;
    }
        .merece{
      color: #333132;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: bold;
      margin-left: 80px;
      line-height: 27px;
      width: 220px;
      margin-top: 20px;
    }
    .responsiblesize{
        width: 150px;
        height:150px;
        margin-left: 300px;
    }
    .largedevise{
      padding: 90px;
    }
    .marginsearch{
      margin-top:30px;
      width: 400px;
      margin:auto;
    }
    .image{
    width: 140px;
    margin-bottom: 70px;
    }
    .orderdesk{
      margin-left: 330px;
    }
    .filterdesk{
      margin-right: 350px;
    }
    .inlinedesk{
      display: inline-block;
    }

    .riscoslegenda{
      vertical-align: top;
    }

    .marginlegend{
    margin-left: 7px;
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 85px;
    line-height: 1.2;
  }
  .margemlegenda{
    margin-top: 15px;
    margin-left: 10px;
  }
  .colorlegenda{
    margin-left: 40px;
    }
    .backgroundrules{
    margin-top: 10px;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 10px;
    width: 435px;
  }
  .desktopposition{
    margin-left: 440px;
    margin-top: -405px;
  }
      .fonteliminate{
      margin-top: 20px;
    }
    .criterioslegenda{
    color: #00B576;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 16px;
    margin-top:10px;
  }
  .criterioslegenda{
    color: #00B576;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 7px;
    margin-top:10px;
    width: 75px;
    line-height: 1.2;
  }
  .criterioslegendayellow{
    color: #FFBA00;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 7px;
    overflow-wrap: break-word;
    margin-top:10px;
    width: 97px;
    line-height: 1.2;
  }
  .criterioslegendaorange{
    color: #F19A3E;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 7px;
    margin-top:8px;
    width: 190px;
    line-height: 1.2;
  }
  .criterioslegendared{
    color: #D80303;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 7px;
    margin-top:8px;
    width: 97px;
    line-height: 1.2;
  }
  .criterioslegendagrey{
    color: #8391B5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 7px;
    margin-top:10px;
    width: 75px;
    line-height: 1.2;
  }
  .sizecarddesk {
    width: 17rem !important;
  }
   .fontingredientindex{
      color: #707070;
      font-size: 13px;
      font-family: 'Montserrat', sans-serif;
      height: 60px;
      width:140px;
      margin-left: 5px;
      margin-bottom:3px !important;
    }
    .inlinemobile{
      display: flex;
    }
    .dotgreen {
    height: 20px;
    width: 20px;
    background-color: #00B576;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2px;
    margin-top: 8px;
  }
  .dotred {
    height: 20px;
    width: 20px;
    background-color: #D80303;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2px;
    margin-top: 8px;
  }
  .dotorange {
    height: 20px;
    width: 20px;
    background-color: #F19A3E;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2px;
    margin-top: 8px;
  }
  .dotyellow {
    height: 20px;
    width: 20px;
    background-color: #FFBA00;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2px;
    margin-top: 8px;
  }
  .dotgrey {
    height: 20px;
    width: 20px;
    background-color: #8391B5;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2px;
    margin-top: 8px;
  }
  .ingredientnameshow{
    color: #333132;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: -30px;
  }
  .inlinedeskrisk{
    display: inline-block;
    vertical-align: text-top;
    margin-top: -10px;
    margin-left: 10px;
  }
  .lineaingredientdesk{
      color: #E2E2E2;
      font-size: 12px;
      font-weight: bold;
      margin-left: 10px;
  }
  .risktext{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    margin-left: 35px;
    width:200px;
  }
  .risktextdesk{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    margin-left: 52px;
    width:200px;
  }
    .risktextobs{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    margin-left: 35px;
    width:900px;
  }
  .inlinedeskcriteria{
    display: inline-block;
    vertical-align: text-top;
  }
  .marginriskdesk{
    margin-left: 17px;
  }
  .purposecontent{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: #707070;
    margin-left: 42px;
    width: 900px;
  }
  .backgrouddesk{
    background-color: #F2F2F2;
    padding: 25px;
  }
  .criterioscinza{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-left: 35px;
    margin-bottom: -10px;
    overflow-wrap: break-word;
    width: 210px;
  }
  .criteriosorange{
    color: #F19A3E;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 40px;
    width: 250px;
  }
  .criteriosred{
    color: #D80303;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 40px;
    width: 250px;
  }
  .criteriosyellow{
    color: #FFBA00;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 40px;
    overflow-wrap: break-word;
    width: 200px;
  }
  .margincriteriadesk{
    margin-top: 20px;
  }
  .sizeformdesk{
    width:550px;
  }
  .sizenewingredient{
    width: 350px;
    margin: auto;
  }
  .sizetextresponsible{
    width: 550px;
  }
   .evaluation{
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      color: #333132 !important;
      width: 500px;
      margin: auto;
    }
    .sizedeskresponsible{
      width: 320px;
      text-align: left !important;
    }
    .marginresponsibledeskt{
      margin-left: 50px;
    }
    .marginresponsibleall{
      margin-left: 70px !important;
    }
     .fonttitledesk{
      margin-top: 40px;
    }
    .textobs{
       color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    }
    .leaf{
    margin-bottom: 6px;
    margin-left: 20px;
  }
  .alergenic{
    margin-bottom: 6px;
    margin-left: 20px;
  }
  .sizecriteria{
    width: 155px;
    text-align: left !important;
  }
  .sizecriteriatext{
    width: 570px;
    text-align: left !important;
    margin-left: 15px;
    margin-top:20px;
  }
  .sizecriteriatext2{
    width: 570px;
    text-align: left !important;
    margin-left: -4px;
    margin-top:20px;
  }
  .provenarticle{
    color: #333132;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
    width: 140px;
  }
  }
