<style>
  h5{
    color: #333132;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    }
    h6{
    color: #333132;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    }
  p{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    }
    .btn-avaliacao{
      color: white;
      background-color: #8F89DD;
      border-radius: 30px;
      padding: 0.5rem 2rem;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      box-shadow: 0px 2px 2px #33313261;
    }
    .title{
      color: #67D89E;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
    }
    .verde{
      color: #57B675;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;

    }
    .amarelo{
      color: #FABA02;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
    }
    .vermelho{
      color: #D93500;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
    }
</style>
<div class="container-fluid mt-4 mr-2 ml-2">
  <div class="d-flex justify-content-center"><%= image_tag "responsible.png" %></div>
    <h5 class="text-center mt-5">Promover acesso à informação para empoderar escolhas conscientes.</h5>
      <p class="text-left mt-5 title">Economicamente viável</p>
      <p class="text-left mt-3">Sabemos que o mercado de cosméticos naturais ainda é pequeno e em alguns casos com valores mais altos que os convencionais. A ideia é ser uma plataforma que divulgue o diferencial desse mercado, fazendo com que as empresas que hoje atuam com produtos mais naturais cresçam.</p>
      <p class="text-left mt-4 title">Socialmente justo</p>
      <p class="text-left mt-3">Tudo o que é ser humano e suas relações. Desde as parcerias com negociações ganha ganha, até a garantia da saúde e bem estar dos nossos consumidores.</p>
      <p class="text-left mt-4 title">Ecologicamente correto</p>
      <p class="text-left mt-3">Pensamos no meio ambiente. Sabemos que existem substâncias que em determinada quantidade são seguras para o ser humano, mas quando eliminadas via sistema de esgoto, ou utilizadas em mares e rios oferecem grandes riscos a natureza.</p>

    <h5 class="text-center mt-5">Nossos critérios são transparentes!</h5>
      <p class="text-left mt-4">Todas as avaliações são feitas a partir das embalagens, ou seja, informações públicas que estão disponíveis para qualquer pessoa.</p>
    <div class="d-flex justify-content-right"><%= image_tag "criterios.png" %>
      <div>
        <div class="ml-4">
        <p class="text-left mt-4 verde">VERDE</p>
        <p class="text-left mt-3">Produtos que todos os ingredientes são seguros e aprovados tanto para uso humano, como quando eliminado no meio ambiente. São ingredientes que até o momento não existe nenhuma evidência científica que causa algum dano.</p>
        </div>
        <div class="ml-4">
        <p class="text-left mt-5 amarelo">AMARELO</p>
        <p class="text-left mt-3">Produtos que possuem ingredientes com evidências científicas que causam dano ao ser humano ou ao meio ambiente, mas ao mesmo tempo existem outras evidências científicas que falam o contrário. São ingredientes que causam divergência no meio científico. Aqui também se enquadram produtos cujos os ingredientes não são 100% transparentes em suas embalagens. Logo, não conseguimos afirmar que são seguros, nem tóxicos.</p>
        </div>
        <div class="ml-4">
        <p class="text-left mt-5 vermelho">VERMELHO</p>
        <p class="text-left mt-3">Produtos que possuem ingredientes com evidências científicas que são tóxicos ou para o ser humano ou para o meio ambiente. Nesse caso, não existem evidências que provem o contrário. São ingredientes que muitas vezes já foram proibidos na Europa ou nos Estados Unidos. São aqueles ingredientes que devemos eliminar, para garantir saúde para nosso corpo e planeta.</p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-right"><%= image_tag "articles.png" %>
      <div class="ml-4">
      <h6 class="text-left mt-5">ARTIGOS CIENTÍFICOS</h6>
      <p class="text-left mt-3">Todas as evidências científicas serão compartilhadas publicamente em cada avaliação.</p>
      </div>
    </div>
    <div class="d-flex justify-content-right"><%= image_tag "certification.png" %>
      <div class="ml-4">
      <h6 class="text-left mt-5">CERTIFICAÇÕES</h6>
      <p class="text-left mt-3"> Também temos uma aba de selos certificadores. Marcas que possuem selos oficiais que certificam que seus ingredientes são naturais, orgânicos, que não testam em animais e/ou que tem embalagem reciclável ganham pontos para nossa escolha. Assim temos certeza sobre a origem de seus ingredientes e vemos a preocupação da marca em pensar em todos os impactos que podem causar.</p>
      </div>
    </div>
</div>
