 .dotgreen {
    height: 20px;
    width: 20px;
    background-color: #00B576;
    border-radius: 50%;
    display: inline-block;
    margin-left: 8px;
    margin-top: 8px;
  }
  .dotred {
    height: 20px;
    width: 20px;
    background-color: #D80303;
    border-radius: 50%;
    display: inline-block;
    margin-left: 13px;
    margin-top: 8px;
  }
  .dotorange {
    height: 20px;
    width: 20px;
    background-color: #F19A3E;
    border-radius: 50%;
    display: inline-block;
    margin-left: 8px;
    margin-top: 8px;
  }
  .dotyellow {
    height: 20px;
    width: 20px;
    background-color: #FFBA00;
    border-radius: 50%;
    display: inline-block;
    margin-left: 52px;
    margin-top: 8px;
  }
  .dotgrey {
    height: 20px;
    width: 20px;
    background-color: #8391B5;
    border-radius: 50%;
    display: inline-block;
    margin-left: 8px;
    margin-top: 8px;
  }
 .dotgreen2 {
    height: 20px;
    width: 20px;
    background-color: #00B576;
    border-radius: 50%;
    display: inline-block;
    margin-top: -20px;
    margin-right: 10px;
    margin-left: 5px;
  }
  .dotred2 {
    height: 20px;
    width: 20px;
    background-color: #D80303;
    border-radius: 50%;
    display: inline-block;
    margin-top: -20px;
    margin-right: 10px;
    margin-left: 5px;
  }
  .dotorange2 {
    height: 20px;
    width: 20px;
    background-color: #F19A3E;
    border-radius: 50%;
    display: inline-block;
    margin-top: -20px;
    margin-right: 10px;
    margin-left: 5px;
  }
  .dotyellow2 {
    height: 20px;
    width: 20px;
    background-color: #FFBA00;
    border-radius: 50%;
    display: inline-block;
    margin-top: -20px;
    margin-right: 10px;
    margin-left: 5px;
  }
  .dotgrey2 {
    height: 20px;
    width: 20px;
    background-color: #8391B5;
    border-radius: 50%;
    display: inline-block;
    margin-top: -20px;
    margin-right: 10px;
    margin-left: 5px;
  }
  .dotgreen4 {
    height: 20px;
    width: 20px;
    background-color: #00B576;
    border-radius: 50%;
    display: inline-block;
    margin-left: 13px;
    margin-top: 8px;
  }
  .dotred4 {
    height: 20px;
    width: 20px;
    background-color: #D80303;
    border-radius: 50%;
    display: inline-block;
    margin-left: 13px;
    margin-top: 8px;
  }
  .dotorange4 {
    height: 20px;
    width: 20px;
    background-color: #F19A3E;
    border-radius: 50%;
    display: inline-block;
    margin-left: 13px;
    margin-top: 8px;
  }
  .dotyellow4 {
    height: 20px;
    width: 20px;
    background-color: #FFBA00;
    border-radius: 50%;
    display: inline-block;
    margin-left: 13px;
    margin-top: 8px;
  }
  .dotgrey4 {
    height: 20px;
    width: 20px;
    background-color: #8391B5;
    border-radius: 50%;
    display: inline-block;
    margin-left: 13px;
    margin-top: 8px;
  }
    .bigdotgreen {
    height: 25px;
    width: 25px;
    background-color: #00B576;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -35px;
  }
  .bigdotyellow{
    height: 25px;
    width: 25px;
    background-color: #FFBA00;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -35px;
  }
  .bigdotred{
    height: 25px;
    width: 25px;
    background-color: #D80303;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -35px;
  }
  .bigdotorange{
    height: 25px;
    width: 25px;
    background-color: #F19A3E;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -35px;
  }
  .bigdotgrey{
    height: 25px;
    width: 25px;
    background-color: #8391B5;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -35px;
  }
  .potencialnao{
    background-color: #00B576;
    border-radius: 30px;
    display: inline-block;
    margin-left: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 0.2rem 0.6rem;
    margin-top: 8px;
  }
  .potencialsim{
    background-color: #D80303;
    border-radius: 30px;
    display: inline-block;
    margin-left: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 0.2rem 0.6rem;
    margin-top: 8px;
  }
  .potencialnao2{
    background-color: #00B576;
    border-radius: 30px;
    display: inline-block;
    margin-left: -6px;
    margin-top: -10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 0.2rem 0.6rem;
  }
  .potencialsim2{
    background-color: #D80303;
    border-radius: 30px;
    display: inline-block;
    margin-left: -6px;
    margin-top: -10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 0.2rem 0.6rem;
  }

  .criterios{
    color: #00B576;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 48px;
  }

  .criterioslegenda{
    color: #00B576;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 11px;
    margin-left: 7px;
    margin-top:10px;
    width: 72px;
    line-height: 1.2;
  }
  .criteriosyellow{
    color: #FFBA00;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 48px;
    overflow-wrap: break-word;
  }
  .criterioslegendayellow{
    color: #FFBA00;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 11px;
    margin-left: 7px;
    overflow-wrap: break-word;
    margin-top:10px;
    width: 96px;
    line-height: 1.2;
  }
  .criteriosred{
    color: #D80303;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 50px;
  }

  .criterioslegendared{
    color: #D80303;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 11px;
    margin-left: 7px;
    margin-top:8px;
    width: 100px;
    line-height: 1.2;
  }
  .criteriosorange{
    color: #F19A3E;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 50px;
  }

  .criterioslegendaorange{
    color: #F19A3E;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 11px;
    margin-left: 7px;
    margin-top:8px;
    width: 110px;
    line-height: 1.2;
  }
  .criteriosgrey{
    color: #8391B5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 48px;
  }

  .criterioslegendagrey{
    color: #8391B5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 11px;
    margin-left: 7px;
    margin-top:10px;
    line-height: 1.2;
  }
  .criterioscinza{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-left: 50px;
    margin-bottom: -10px;
    overflow-wrap: break-word;
  }

.risktext{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    margin-left: 35px;
  }
  .risktextobs{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    margin-left: 35px;
  }
  .articleresponsible{
    width: 25px;
    height: 25px;
  }

  .provenarticle{
    color: #333132;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 5px;
  }
  .marginenvironment{
    margin-bottom: 12px;
    margin-left: 10px;
  }

   .dotgreen3 {
    height: 20px;
    width: 20px;
    background-color: #00B576;
    border-radius: 50%;
    display: inline-block;
    margin-left: 13px;
    margin-top: 2px;
  }
  .dotred3 {
    height: 20px;
    width: 20px;
    background-color: #D80303;
    border-radius: 50%;
    display: inline-block;
    margin-left: 13px;
    margin-top: 2px;
  }
   .dotorange3 {
    height: 20px;
    width: 20px;
    background-color: #F19A3E;
    border-radius: 50%;
    display: inline-block;
    margin-left: 13px;
    margin-top: 2px;
  }
  .dotyellow3 {
    height: 20px;
    width: 20px;
    background-color: #FFBA00;
    border-radius: 50%;
    display: inline-block;
    margin-left: 13px;
    margin-top: 2px;
  }
  .dotgrey3 {
    height: 20px;
    width: 20px;
    background-color: #8391B5;
    border-radius: 50%;
    display: inline-block;
    margin-left: 13px;
    margin-top: 2px;
  }
