    .usersize{
      width:22px;
      height: 22px;
      margin-left: -20px;
    }
    .sessions{
      color:white;
    }
    .label{
      color: white;
    }
    .forgot{
      text-decoration: underline;
      font-family: 'Montserrat', sans-serif;
      color:white;
      font-size:13px;
      font-weight: bold;
    }
    .positionuser{
      margin-bottom: -18px;
    }
    .titledevise{
      font-family: 'Montserrat', sans-serif;
      color: white;
      font-weight: bold;
      font-size: 18px;
    }
     .positiondevise{
      margin-bottom: -40px;
    }
