.ingredientnameshow{
    color: #8F89DD;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
  .function{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    margin-left: 42px;
  }
  .marginhealth{
    margin-bottom: 7px;
  }
  .marginrestriction{
    margin-left: -6px;
    width: 22px;
    height: 22px;
  }
  .marginrisk{
    margin-left: 15px;
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .purposename{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #707070;
    margin-left: 42px;
  }
  .purposecontent{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: #707070;
    margin-left: 42px;
  }
  .purposesize{
    width: 25px;
    height: 25px;
    margin-top: 5px;
  }
  .fontessize{
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-left: -5px;
  }
