   .image{
      width: 140px;
    }

    .lupa{
      width: 30px;
    }
    .row{
      margin: 0 -7px;
    }
    .fontfilter{
      background-color: #F2F2F2;
      border-radius: 5px;
      color: #33D89E;
      font-weight: bold;
      margin-left:-4px;
      margin-bottom: 3px;
      padding: 4px;
    }
    .marginsearch{
      margin-top:30px;
    }
   .font-search{
      font-family: 'Montserrat', sans-serif;
      font-style: italic;
      font-size: 12px;
   }
   .col-form-label{
    color: #333132 !important;
   }
  .index {
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      background: white;
      font-weight: bold;
      border: none;
      color: #707070;
      line-height: 23px;
      display: none;
      align-items: right;
      position: absolute;
      flex-grow: 0;
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
      border-radius: 5px;
      right: -20;
      left: auto;
      top: 20px;
      width: 340px;
    }
    .sort{
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      background: white;
      border: none;
      color: #8F89DD;
      display: none;
      align-items: right;
      position: absolute;
      flex-grow: 0;
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
      border-radius: 5px;
      right: 0;
      left: 10px;
      width: 330px;
    }
    .btn-dropdown{
      background-color: none !important;
      font-family: 'Montserrat', sans-serif;
      color: #333132;
      font-size: 14px;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .fonttitle{
      color: #707070;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
    }

    .fontnota{
      color: #333132;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
    }
    .fontdate{
      color: #707070;
      font-family: 'Montserrat', sans-serif;
      font-size: 9px;
    }
    .ingredientlink{
      font-family: 'Montserrat', sans-serif;
      font-size: 11px;
      color:#707070;
      width: 120px;
      margin-right: 25px;
    }

    .selosmarcas{
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      color:#707070;
    }
    .ingredientname{
      font-family: 'Montserrat', sans-serif;
      color: #707070;
      font-size: 13px;
      margin-top: 5px;
    }

    .itemobs{
      font-family: 'Montserrat', sans-serif;
      color: #707070;
      font-size: 11px;
      margin-top: 5px;
    }

    .obs{
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      color:#707070;
      margin-left: 8px;
      margin-right: 5px;
    }

    .obs2{
      font-family: 'Montserrat', sans-serif;
      font-size: 10px;
      color:#707070;
      margin-left: 8px;
      margin-right: 5px;
    }

    .sizelogoitems{
      width: 40px;
      height: 40px;
      margin-left: 9px;
    }

    .sizenoslogan{
      width: 45px;
      height: 45px;
      margin-left: 9px;
    }

    .sizenosloganindex{
      width: 50px;
      height: 50px;
      margin-left: 9px;
      margin-top: -6px;
    }

    .sizelogonota{
      width: 35px;
      height: 35px;
      margin-left: 9px;
      margin-top: 16px;
    }

    .evaluation{
      font-size: 30px;
      font-family: 'Montserrat', sans-serif;
      color: #333132 !important;
    }

    .marginrisk{
    margin-left: 15px;
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 15px;
  }

   .marginul{
      margin-left: -49px;
    }
    .componentshow{
      margin-top: 7px;
    }
    .linea{
      color: #E2E2E2;
      font-size: 12px;
      font-weight: bold;
      margin-bottom: -3px !important;
      margin-top: -20px !important;
    }

    .lineacertification{
      color: #E2E2E2;
      font-size: 12px;
      font-weight: bold;
      margin-top: 30px !important;
      margin-bottom: -3px !important;
    }
    .backgroudshow{
      background-color: white;
      border-radius: 8px;
    }

    .imagewish{
      width: 70px;
    }

    .prateleira{
      color: #333132;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }

    .number{
      color: #33D89E;
      font-size: 25px;
      margin-top: -4px;
      margin-left: 141px;
    }
    .marginhealth2{
      margin-bottom: 13px;
    }

    .fonthumb{
      color: #33D89E;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      padding: 8px;
      white-space: nowrap;
    }

    .alertsize{
      width: 20px;
      height: 20px;
      margin-left: 5px;
    }
    .sizelogocolab{
      width: 35px;
      height: 35px;
      margin-left: 8px;
      margin-top: 14px;
    }

    .sizelogocriteria{
      width: 35px;
      height: 35px;
      margin-left: 8px;
      margin-top: 40px;
    }

    .fontcolab{
      color: #707070;
      font-family: 'Montserrat', sans-serif;
      font-size: 11px;
    }

    .itemsindex{
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      background-image: linear-gradient(#66D8A0, #8D8BDB);
      padding: 0.4rem 0.1rem;
      border-radius: 12px;
      margin-left:10px;
      margin-right:10px;
      margin-top: 20px;
      text-align: center;
      font-weight: bold;
    }

    .sizedesk{
      width: 135px;
      height: 135px;
      margin-top: 25px;
      margin-left: 10px;
    }
    .followinsta{
      color: #333132;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      font-weight: bold;
      margin-right: 5px;
    }
    .insta{
      color: #8F89DD;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: bold;
      margin-top:-15px;
    }


      .aspecto{
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      color: #707070;
      font-weight: bold;
    }
    .merece{
      color: #333132;
      font-family: 'Montserrat', sans-serif;
      font-size: 17px;
      font-weight: bold;
      margin-right: 70px;
      line-height: 27px;
    }
    .gradientlinea{
      font-size: 2px;
      background: linear-gradient(90deg, rgba(102,215,160,1) 0%, rgba(141,138,220,1) 100%);
      color: #8D8BDB;
    }

    .contentfirstpage{
      width: 50%;
      margin: auto;
    }



    .marginaverage{
      margin-left: 105px;
    }

    .marginevaluation{
      margin-left: 100px;
    }
