   .image{
      width: 140px;
    }
    .lupa{
      width: 30px;
    }
    .row{
      margin: 0 -7px;
    }
    .fontfilter{
      background-color: #333132;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      margin-left:-4px;
      margin-bottom: 3px;
      padding: 4px;
    }
   .font-search{
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
   }
   .col-form-label{
    color: #333132 !important;
   }
  .index {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      background: white;
      font-weight: bold;
      border: none;
      color: #8F89DD;
      display: none;
      align-items: right;
      position: absolute;
      flex-grow: 0;
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
      border-radius: 5px;
      right: 0;
      left: auto;
      top: 20px;
      width: 330px;
    }
    .sort{
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      background: white;
      border: none;
      color: #8F89DD;
      display: none;
      align-items: right;
      position: absolute;
      flex-grow: 0;
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
      border-radius: 5px;
      right: 0;
      left: 10px;
      width: 330px;
    }
    .btn-dropdown{
      background-color: none !important;
      font-family: 'Montserrat', sans-serif;
      color: #333132;
      font-size: 14px;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .fonttitle{
      color: #707070;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
    }
    .ingredientlink{
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      color:#707070;
    }
    .ingredientname{
      border-radius: 23px;
      color: #707070;
      padding: 8px;
      font-size: 13px;
    }
    .obs{
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      color:#707070;
      margin-left: 8px;
      margin-right: 5px;
    }

    .obs2{
      font-family: 'Montserrat', sans-serif;
      font-size: 10px;
      color:#707070;
      margin-left: 8px;
      margin-right: 5px;
    }

    .sizelogoitems{
      width: 40px;
      height: 40px;
      margin-left: 9px;
    }

    .evaluation{
      font-size: 30px;
      font-family: 'Montserrat', sans-serif;
      color: #333132 !important;
    }

    .marginrisk{
    margin-left: 15px;
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 15px;
  }

   .marginul{
      margin-left: -32px;
    }
    .componentshow{
      margin-top: 7px;
    }
    .linea{
      color: #F2F2F2;
      font-size: 12px;
      font-weight: bold;
    }
    .backgroudshow{
      background-color: white;
      border-radius: 8px;
    }

    .imagewish{
      width: 70px;
    }

    .prateleira{
      color: #333132;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }

    .number{
      color: #33D89E;
      font-size: 25px;
      margin-top: -7px;
    }
    .marginhealth2{
      margin-bottom: 18px;
    }

    .fonthumb{
      color: #33D89E;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      padding: 8px;
      white-space: nowrap;
    }

    .alertsize{
      width: 20px;
      height: 20px;
      margin-left: 5px;
    }
    .sizelogocolab{
      width: 35px;
      height: 35px;
      margin-left: 8px;
    }

    .fontcolab{
      color: #707070;
      font-family: 'Montserrat', sans-serif;
      font-size: 11px;
    }
