<p>Olá!</p>

<p>Foi solicitado um link para mudar a senha. Segue o mesmo abaixo.</p>

<p><%= link_to 'Mude sua senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, por favor, ignore esse email.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova senha.</p>
