<style>
  .star{
    color: #33D89E;
    width: 10px;
  }
  .size{
    width: 100px;
    margin-left: 10px;
  }
</style>
<div class="text-left row">
  <div class="size">
    <%= (1..review.stars.to_i).map {|_star| '<i class="fas fa-star star ml-2"></i>' }.join.html_safe %>
  </div>
</div>
